[Desktop Entry]
Version=1.0
Type=Link
Name=cava-config
Comment=
Icon=user-bookmarks
URL=https://raw.githubusercontent.com/karlstav/cava/master/example_files/config
