@define-color borders_breeze #585e68;
@define-color content_view_bg_breeze #404552;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #70414e;
@define-color error_color_insensitive_breeze #70414e;
@define-color insensitive_base_color_breeze #3d424e;
@define-color insensitive_base_fg_color_breeze #6e737f;
@define-color insensitive_bg_color_breeze #2d323c;
@define-color insensitive_borders_breeze #3a3f4a;
@define-color insensitive_fg_color_breeze #646973;
@define-color insensitive_selected_bg_color_breeze #2d323c;
@define-color insensitive_selected_fg_color_breeze #646973;
@define-color insensitive_unfocused_bg_color_breeze #2d323c;
@define-color insensitive_unfocused_fg_color_breeze #646973;
@define-color insensitive_unfocused_selected_bg_color_breeze #2d323c;
@define-color insensitive_unfocused_selected_fg_color_breeze #646973;
@define-color link_color_breeze #1d99f3;
@define-color link_visited_color_breeze #9b59b6;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #356553;
@define-color success_color_insensitive_breeze #356553;
@define-color theme_base_color_breeze #404552;
@define-color theme_bg_color_breeze #2f343f;
@define-color theme_button_background_backdrop_breeze #414857;
@define-color theme_button_background_backdrop_insensitive_breeze #3e4553;
@define-color theme_button_background_insensitive_breeze #3e4553;
@define-color theme_button_background_normal_breeze #414857;
@define-color theme_button_decoration_focus_backdrop_breeze #5294e2;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #445e81;
@define-color theme_button_decoration_focus_breeze #5294e2;
@define-color theme_button_decoration_focus_insensitive_breeze #445e81;
@define-color theme_button_decoration_hover_backdrop_breeze #5294e2;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #445e81;
@define-color theme_button_decoration_hover_breeze #5294e2;
@define-color theme_button_decoration_hover_insensitive_breeze #445e81;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #646973;
@define-color theme_button_foreground_active_breeze #d3dae3;
@define-color theme_button_foreground_active_insensitive_breeze #646973;
@define-color theme_button_foreground_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6f7582;
@define-color theme_button_foreground_insensitive_breeze #6f7582;
@define-color theme_button_foreground_normal_breeze #d3dae3;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_header_background_backdrop_breeze #2f343f;
@define-color theme_header_background_breeze #2f343f;
@define-color theme_header_background_light_breeze #2f343f;
@define-color theme_header_foreground_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #5294e2;
@define-color theme_selected_bg_color_breeze #5294e2;
@define-color theme_selected_fg_color_breeze #d3dae3;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #2f343f;
@define-color theme_titlebar_background_breeze #2f343f;
@define-color theme_titlebar_background_light_breeze #2f343f;
@define-color theme_titlebar_foreground_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_insensitive_breeze #666a73;
@define-color theme_unfocused_base_color_breeze #404552;
@define-color theme_unfocused_bg_color_breeze #2f343f;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #2b4768;
@define-color theme_unfocused_selected_bg_color_breeze #2b4768;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #3d424e;
@define-color theme_unfocused_view_text_color_breeze #6e737f;
@define-color theme_view_active_decoration_color_breeze #5294e2;
@define-color theme_view_hover_decoration_color_breeze #5294e2;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5d616d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #585e68;
@define-color unfocused_insensitive_borders_breeze #3a3f4a;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #7a5133;
@define-color warning_color_insensitive_breeze #7a5133;
