[Desktop Entry]
Version=1.0
Type=Application
Name=Dropbox
Comment=A free service that lets you bring your photos, docs, and videos anywhere and share them easily.
Exec=dropbox
Icon=dropbox
Terminal=false
StartupNotify=false
Categories=Network;
